<div class="container" >
  <div class="row main-form-input" >
    <div class="col-lg-12">
      <h1>Where you at?</h1>
      <fieldset>
        <form id="location-form">
          <div class="input-group">
            <input type="text" class="form-control" value="" id="location-input" name="location">
            <span class="input-group-btn">
              <button id="submit-location" class="btn btn-default" type="button">Search!</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>

    <hr>
    <div id="google-map-container" class="fade-elements">
      <div class="panel panel-default">
      
        <div class="panel-heading">
        <h3 class="panel-title">Current Weather</h3>
      </div>
      <div class="panel-body">
        <div class="row" >
          <div class="col-lg-12">


            <div id="map-canvas"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <hr>
    <div id="forecast-io-container" class="fade-elements">
      <div class="row" >
        <div class="col-lg-4">
          <div class="panel panel-default">
            
              <div class="panel-heading">
              <h3 class="panel-title">Current Weather</h3>
            </div>
            <div class="panel-body">
              <canvas id="current-weather-icon" width="60" height="60"></canvas>
              <span class="current-temp"></span>
              <p><span class="current-hi-temp">Hi: </span>
              <span class="current-low-temp">Lo: </span></p>
              <p class="current-humidity">Humidity:</p>
              <p class="current-precipProbability"></p>
              <p class="current-weather-description"></p>

            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="panel panel-default">
            
              <div class="panel-heading">
              <h3 class="panel-title">Precipitation by the Minute</h3>
            </div>
            <div class="panel-body">
              <div id="weather-by-minute-chart"></div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>